<div id="aboutModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">About SteemExplorer</h4>
      </div>
      <div class="modal-body">
        <p>
          <strong>SteemExplorer makes the STEEM blockchain more visible</strong>
        </p>

        <p>
          By providing an easy-to-use interface for searching transactions on the STEEM blockchain, SteemExplorer
          makes it simple for users to find what they are looking for. Simply provide a transaction hash and click search.
        </p>

        <p>
          It couldn't be any simpler!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <hr />
        <p>
          Made with love by <a href="https://steemit.com/@netuoso">@netuoso</a>
        </p>
      </div>
    </div>

  </div>
</div>

<div class="container hidden">

</div>