<div id="rpcNodesModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">RPC Nodes</h4>
      </div>
      <div class="modal-body">
				<div class="container-fluid text-center">
					<table id="rpcNodes" border=".5px">
						<tr>
							<th>Server</th>
							<th>SSL</th>
							<th>Ran By</th>
							<th>Status</th>
						</tr>
						<tr>
							<td>steemd.steemit.com</td>
							<td>YES</td>
							<td>Steemit Inc.</td>
							<td><font color="green">Operational</font></td>
						</tr>
						<tr>
							<td>steemd.privex.io</td>
							<td>YES</td>
							<td><a rel="nofollow" class="external text" href="https://www.steemit.com/@privex">@privex</a></td>
							<td><font color="green">Operational</font></td>
						</tr>
						<tr>
							<td>gtg.steem.house:8090</td>
							<td>YES</td>
							<td><a rel="nofollow" class="external text" href="https://www.steemit.com/@gtg">@gtg</a></td>
							<td><font color="green">Operational</font></td>
						</tr>
						<tr>
							<td>rpc.steemliberator.com</td>
							<td>YES</td>
							<td><a rel="nofollow" class="external text" href="https://www.steemit.com/@netuoso">@netuoso</a></td>
							<td><font color="green">Operational</font></td>
						</tr>
						<tr>
							<td>steemd.minnowsupportproject.org</td>
							<td>YES</td>
							<td><a rel="nofollow" class="external text" href="https://www.steemit.com/@minnowsupport">@minnowsupport</a></td>
							<td><font color="green">Operational</font></td>
						</tr>
					</table>
				</div>
			</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="container hidden">

</div>