<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SteemExplorer</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Explorer</a></li>
        <li><a href="/earnings">Earnings</a></li>
        <%= form_tag '/search', class: 'navbar-form navbar-left form-inline', remote: true do |f| %>
          <%= text_field_tag :search, nil, placeholder: 'Transaction ID', class: 'form-control' %>
          <%= submit_tag "Search TX", class: 'btn btn-default', onclick: '$("body").spin();' %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="modal" data-target="#rpcNodesModal">RPC Nodes</a></li>
      </ul>
    </div>
  </div>
</nav>