<div id="tosModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Terms &amp; Conditions</h4>
      </div>
      <div class="modal-body">
        <p>
					<strong>PRIVACY POLICY</strong>
        </p>

        <p>
					SteemExplorer may collect IP addresses for purposes of system administration and to audit the use of the site. An 'IP address' is a set of numbers that is automatically assigned to your computer whenever you log into your internet service provider or use your company's LAN or WAN.
        </p>

        <p>
					SteemExplorer may use third-party services (like Cloudflare) using identification cookies and/or collecting IP addresses.
        </p>

        <p>
					SteemExplorer does not use and will never use IP addresses collected during the use of the site for the purpose of data analysis related to the STEEM blockchain.
        </p>

        <p>
					SteemExplorer can and will use IP addresses when we feel it is necessary to enforce compliance with these terms, or to protect our service.
        </p>

        <p>
					<strong>LIMITATION OF WARRANTIES</strong>
        </p>

        <p>
					SteemExplorer does not endorse, warrant or make any representations regarding the accuracy, validity or reliability of, or the results of the use of, or otherwise respecting, the materials on this site or any sites linked to this site.
        </p>

        <p>
					You expressly understand and agree that any material downloaded or otherwise obtained through the use of the service is done at your own discretion and risk and that you will be solely responsible for any damage to your computer system or loss of data that results from the download of any such material.
        </p>

        <p>
					It is your responsibility to evaluate the accuracy, completeness, or usefulness of any information, opinion, advice or other content available through this site. Please seek the advice of professionals, as appropriate, regarding the evaluation of any specific information, opinion, advice or other content.
        </p>

        <p>
					If you access financial or other information on our site in order to make an investment decision or other decision with respect to our service, you should seek any additional information, including professional advice, that would be required for you to make a sound, well-informed and reasonable decision.
        </p>

        <p>
					<strong>LIMITATION OF LIABILITY</strong>
        </p>

        <p>
					SteemExplorer or its developers will not be liable for any damages of any kind arising from the use or the inability to use this site, including but not limited to direct, indirect, special, incidental or consequential damages, loss of profit, operation time, goodwill, contracts, revenues or anticipated savings arising out of or in relation to the use of this site even if SteemExplorer or one of its developers has been advised of the possibility of such damages.
        </p>

        <p>
					Under no circumstance will SteemExplorer or its developers be liable for any loss or damage caused by a user's reliance on information obtained through this site.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="container hidden">

</div>